@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,600,800');

/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */

body {
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
}

/* --- Nav --- */
#nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid #E6EAED;
    color: #605BB6;
}
.nav-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-side a {
    margin-left: 16px;
    text-decoration: none;
    color: inherit;
}
.nav-side button {
    margin-left: 16px;
}
.nav-logo-text {
    font-weight: 800;
    color: #605BB6;
    text-transform: uppercase;
}

/* --- Body --- */
#app-landing {
    padding: 48px;
}
#snack-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

/* --- Table --- */
table {
    width: 100%;
}
tbody {
    border: 1px solid #E6EAED;
}
thead td {
    padding: 0 8px 4px 8px;
    vertical-align: bottom;
}
tbody td {
    padding: 8px;
}
/* --- Button styles --- */
button {
    border-radius: 2em;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}
button.primary  {
    box-shadow: 0 0 0 2px #605BB6;
    border: none;
    color: #605BB6;
    font-weight: 600;
    background: transparent;
    transition: 100ms all cubic-bezier(0.4, 0.0, 0.2, 1);
}
button.primary:hover {
    background: #605BB6;
    color: white;
    transition: 100ms all cubic-bezier(0.4, 0.0, 0.2, 1);
}